*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
   
}

footer{
    
    opacity: 0.5;
    position: absolute;
    bottom: 0px;
   
}
footer p{
    font-size: 15px;
    font-weight: 100;
    color: black;
}


body{
    position: relative;
    height: 100vh;
    background-color: rgb(255 38 146 / 86%);
}
.container h1{
    margin-left: 150px;
    font-size: 39px;
}
.container{
    position: absolute;
    width: 47%;
    height: 100%;
    left:21% ;
    right: 10%;
    margin-top: 10%;
}
.main{
    display: flex;
    flex-shrink: 1;

    vertical-align: middle;

    width: 155%;
   
}
#btn{
    display: block;
    margin-left: 256px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: all 0.2s;
    cursor: pointer;
}
#btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.left-side, .right-side{
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
::placeholder{
    color: white;
}
label {
    cursor: pointer;
  }
input[type=radio]{
    cursor: pointer;
}

input{
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.nammesforenter{
    margin-left: 15px;
    cursor: pointer;
}
@media (max-width:865px){

    *{
        font-size: 23px;
    }
    .main{
        display: block;
        width:100%;
        height: 21%;
    }
    #btn{
          margin-top: 200px;
        margin-left: 32px;
    }

    .container h1{
        margin-left: -41px;
    font-size: 31px;
    }
    .container{
        margin-top: 28%;
        width: 86%;
    }
    .left-side, .right-side {
        padding: 0px;
        margin-left: -32px;
        margin-top: 47px;
    }
}

@media (max-width:417px){

    *{
        font-size: 16px;
    }
    .main{
        display: block;
        width:100%;
        height: 21%;
    }
    #btn{
        margin-top: 216px;
        margin-left: 42px;
    }

    .container h1{
        margin-left: -7px;
        font-size: 26px;
    }
    .container{
        margin-top: 31%;
    }
    .left-side, .right-side {
        padding: 3px;
        margin-left: 8px;
        margin-top: 29px;
    }
    

.nammesforenter{
    margin-left: 26px; 
    
}


}
@media (max-width:300px){

    *{
        font-size: 12px;
    }
    .main{
        display: block;
        width:100%;
        height: 21%;
    }
    #btn{
        margin-top: 216px;
        margin-left: 42px;
    }

    .container h1{
        margin-left: 5px;
        font-size: 15px;
    }
    .container{
        margin-top: 10%;
    }
    .left-side, .right-side {
        padding: 3px;
        margin-left: 8px;
        margin-top: 29px;
    }


}